<Div class="bootstrap-wrapper">

  <Div class="container">
    <div class="row" style="margin-top: 10px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/admin_reg.jpg" alt="">
          </div>
          <h1 class="text-center">Request Lending</h1>
          <!-- {{user|json}}  -->
          <form (ngSubmit)="formSubmit()">
            <label for="book">Choose a book:</label>
            <select [(ngModel)]="lendingObject.bookId" name="book" id="book">
              <option *ngFor="let book of books" value="{{book.id}}">{{book.title}}</option>
            </select>
          </form>
        </mat-card>
      </div>
    </div>
  </Div>

</Div>